.backoffice-link {
  text-decoration: none;
  background-color: var(--color-gray-500);
}

#sidebar {
  background: rgb(74, 132, 241);
  background: linear-gradient(
    205deg,
    rgba(74, 132, 241, 1) 10%,
    rgba(37, 99, 235, 0.9612219887955182) 38%,
    rgba(30, 64, 175, 1) 72%
  );
  width: 17rem;
  /* very important */
  height: 100%; 
  overflow: auto;
  /* very important */
  transition: transform 0.5s ease-in-out;
  position: absolute;
  z-index: 199;
  font-family: "Open Sans";
}

.sidebar-overlay {
  position: fixed;
  width: 100vw;
  cursor: default !important;
  z-index: 10;
  height: 100vh;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 0.3;
}

@media (min-width: 768px) {
  #sidebar {
    position: relative;
    transform: translateX(0);
    /* height: 100%; */
  }
}

.-translate-x-full {
  transform: translateX(-100%);
}
.translate-x-0 {
  transform: translateX(0);
}

.sidebar-content {
  padding: 2rem 1rem;
  width: 100%;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* d-flex flex-column justify-content-between */
}

.sidebar-content .logo {
  height: 5rem;
  width: auto;
  display: flex;
  justify-content: center;
  /* justify-self: center; */
}


.sidebar-content .links {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar-content .links a {
  text-decoration: none;
  color: var(--color-gray-300);
  display: flex;
  align-items: center;
  border-radius: var(--borderRadius);
  padding: 0.5rem 0.85rem;
  font-size: var(--text-base);
  font-weight: 400;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.sidebar-content .links a:hover,
.sidebar-content .links a.active {
  background-color: var(--color-blue-900);
  color: var(--color-white);
}

.sidebar-content .links a .icon {
  margin-right: 1rem;
  color: var(--color-gray-400);
  width: 1.05rem;
  height: 1.05rem;
}

.sidebar-content .links a:hover .icon,
.sidebar-content .links a.active .icon {
  color: var(--color-white);
}

.profile-section {
  margin: -2rem -1rem;
  padding: 1rem 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--color-blue-900);
  
}

.profile-section img,
.user-avatar {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
}

.profile-section div {
  margin-left: 0.3rem;
}

.profile-section .username {
  font-size: var(--text-base);
  color: var(--color-gray-200);
}

.profile-section .user-role {
  font-size: var(--text-sm);
  color: var(--color-gray-400);
}

.profile-section p {
  margin: 0;
  padding: 0;
  color: var(--color-gray-400);
  font-size: var(--text-sm);
  font-weight: 400;
}

.profile-section p span {
  font-weight: 600;
}

.profile-section a .icon {
  color: var(--color-blue-100);
  width: 1.65rem;
  height: 1.65rem;
  transition: color 0.2s ease-in-out;
}

.profile-section a:hover .icon {
  color: var(--color-blue-300);
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.close-button > * {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-gray-400);
}

.close-button:hover > * {
  color: var(--color-gray-200);
}

#header {
  background-color: var(--color-gray-50);
  align-items: center;
}

#header button {
  padding: 0.5rem;
  border-right: 1px solid var(--color-gray-300);
}

#header button > * {
  color: var(--color-gray-500);
  width: 1.85rem;
  height: 1.85rem;
  transition: color 0.2s ease-in-out;
}

#header button:hover > * {
  color: var(--color-gray-800);
}

.main-content {
  padding: 2rem 2rem 0.5rem 2rem;
  overflow: auto;
}

.section-title h2 {
  color: var(--color-gray-800);
  font-size: var(--text-3xl);
  font-family: "Open Sans";
  font-weight: 600;
  letter-spacing: -0.12rem;
}

.section-content {
  margin: 1.25rem 0;
  font-family: Poppins;
  background-color: var(--color-gray-100);
  border-radius: var(--borderRadius);
  padding: 0.5rem 1rem;
}
