@import url("../../index.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;600;700;800&display=swap");

.contactContainer * {
  box-sizing: border-box !important;
}

.contactContainer {
  width: 100%;
  max-width: 1920px;
  font-family: "Poppins" !important;
}

.contactContainer footer {
  background-color: var(--color-white);
  margin-top: 3rem;
}

.contactContainer Footer .footer-heading {
  text-align: left;
}

@media (min-width: 992px) {
  .mainComponentsContainer {
    margin-bottom: 10rem !important;
  }
}
