.form-sms {
  background-color: var(--color-blue-10);
  font-family: "Poppins";
}

.h-screen {
  min-height: 100vh;
}

.logo {
  width: 13rem;
}

.top-form h2 {
  margin-top: 0.75rem;
  color: var(--color-gray-800);
  font-weight: 600;
  font-size: var(--text-3xl);
}

.bottom-form {
  background-color: var(--color-white);
  padding: 1.5rem 0;
}

.form-g label {
  color: var(--color-gray-700);
  font-weight: 500;
}

.custom-checkb label {
  color: var(--color-gray-700);
  font-weight: 500;
  font-size: var(--text-base);
}

.forgot-password {
  color: var(--color-blue-700);
  font-weight: 500;
  font-size: var(--text-base);
}

.forgot-password:hover {
  text-decoration: underline;
  cursor: pointer;
}

.btn.login {
  background-color: var(--color-blue-700);
  color: var(--color-white);
  transition: all 0.5s ease;
}

.btn.login:hover {
  background-color: var(--color-blue-600);
}

.input-error {
  border: 1px solid rgba(239, 68, 68, 0.5);
  background-color: rgba(254, 226, 226, 0.7) !important;
}

.error-message {
  display: flex;
  gap: 4px;
  margin-top: 2px;
  align-items: center;
}

.error-message svg {
  color: rgba(239, 68, 68, 1);
  width: 1rem;
  height: 1rem;
}
.error-message span {
  color: rgba(239, 68, 68, 1);
  font-size: var(--text-sm);
}

.form-g input:not(:placeholder-shown) {
  background-color: var(--color-blue-50);
}

.redirect {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redirect p {
  color: var(--color-gray-800);
  font-weight: 500;
  font-size: var(--text-md);
  margin: 0;
  display: flex;
  height: 100%;
}

.redirect p a {
  color: var(--color-blue-700);
  text-decoration: none;
  margin-left: 0.3rem;
  display: inline-block;
}

.redirect p a:hover {
  text-decoration: underline;
  cursor: pointer;
}
