.bg-blue {
  background-color: #8dcaff;
}

.news-home {
  z-index: 4;
}

.news-home h5 {
  margin-top: 15px;
}

.news-home-image-container {
  position: relative;
}

.news-home-image {
  overflow: hidden;
}

.news-home-image img {
  transition: all 0.3s;
}

.news-home-category {
  position: absolute;
  bottom: -6%;
  left: 5%;
  z-index: 5;
  padding: 5px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.news-home:hover .news-home-image img {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .news-home-category {
    bottom: -3%;
    left: 2%;
  }
}

@media screen and (min-width: 768px) {
  .max-width-news {
    max-width: 50%;
  }
}
