.container {
    position: relative;
}

.back {
    position: absolute;
    top: 15px;
    left: 0;
    background: rgb(35, 167, 255);
    padding: 15px 5px;
    border-radius: 0 10px 10px 0;
}

.back a {
    color: rgba(255,255,255,.7);
}

.news-image {
    width: 100%;
    height: 300px;
    margin: 20px 0;
    background-size: cover;
}
