.registerContainer * {
  box-sizing: border-box !important;
}

.widthRegisterForm {
  width: 75%;
}

.font-error {
  font-size: 0.8rem;
}

.btn-register {
  background-color: var(--color-blue-700);
  color: var(--color-white);
  transition: all 0.5s ease;
}

.btn-register:hover {
  background-color: var(--color-blue-600);
  color: var(--color-white);
}

.regLogo {
  width: 13rem;
  height: auto;
}

@media screen and (min-width: 992px) {
  .widthRegisterForm {
    width: 50%;
  }
  .font-error {
    font-size: 0.9rem;
  }
}
