@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: rgba(255, 255, 255, 1);

  --color-gray-50: rgba(249, 250, 251, 1);
  --color-gray-100: rgba(243, 244, 246, 1);
  --color-gray-200: rgba(229, 231, 235, 1);
  --color-gray-300: rgba(209, 213, 219, 1);
  --color-gray-400: rgba(156, 163, 175, 1);
  --color-gray-500: rgba(107, 114, 128, 1);
  --color-gray-600: rgba(107, 114, 128, 1);
  --color-gray-700: rgba(75, 85, 99, 1);
  --color-gray-800: rgba(31, 41, 55, 1);

  --color-blue-10: rgba(239, 246, 255, 0.7);
  --color-blue-50: rgba(239, 246, 255, 1);
  --color-blue-100: rgba(219, 234, 254, 1);
  --color-blue-200: rgba(191, 219, 254, 1);
  --color-blue-300: rgba(147, 197, 253, 1);
  --color-blue-400: rgba(96, 165, 250, 1);
  --color-blue-500: rgba(59, 130, 246, 1);
  --color-blue-600: rgba(37, 99, 235, 1);
  --color-blue-700: rgba(29, 78, 216, 1);
  --color-blue-800: rgba(30, 64, 175, 1);
  --color-blue-900: rgba(30, 58, 138, 1);

  --borderRadius: 0.375rem;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.05rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-6xl: 3.75rem;
}

button {
  outline: none;
  background: transparent;
  border: none;
}
